
*.jpg
*.png
*.jpeg
*.gif
scraped_images/_ec atopic dermatitis hands/.DS_Store
scraped_images/_ec atopic eczema hands/.DS_Store
scraped_images/_ec eczema on hands/.DS_Store
scraped_images/black hand/.DS_Store
scraped_images/caucasian hands/.DS_Store
scraped_images/Female Hand Model/.DS_Store
scraped_images/hands/.DS_Store
scraped_images/human hand/.DS_Store
scraped_images/Human Palm/.DS_Store
scraped_images/Male Hand Model/.DS_Store
*.zip
